apdev-flight-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="c7eca715-fb48-4ebe-b1e4-f0b8d1c4eabc" >
		<http:listener doc:name="GET / flights" doc:id="15472a92-62be-4b66-a869-cc0917b0224c" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET">
			<http:response statusCode="#[vars.httpstatus default 200]" />
			<http:error-response statusCode="#[vars.httpstatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value='#[message.attributes.queryParams.code default "SFO"]' doc:name="code" doc:id="4d969202-4623-4738-96ce-356643f7faff" variableName="code" />
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="14925cf8-e7e1-48a7-af5a-3bf42458cfcd" variableName="airline" />
		<validation:is-true doc:name="Is true" doc:id="977a85c0-6f1a-4e43-8528-e3d8e58463ea" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination '  ++ (vars.code )]"/>
		<choice doc:name="Choice" doc:id="2b065e4f-e539-49b9-a7c1-c6fac5af9bd5" >
			<when expression="#[vars.airline == 'american']">
				<flow-ref doc:name="getAmericanFlights" doc:id="f10fe33b-7a40-4458-b457-a1cb8d6e2e5c" name="getAmericanFlights"/>
			</when>
			<when expression="#[vars.airline == 'delta']">
				<flow-ref doc:name="getDeltaFlights" doc:id="3430a1e5-d321-42aa-a682-2e5c9bf182e9" name="GetDeltaFlights"/>
			</when>
			<when expression="#[vars.airline == 'united']">
				<flow-ref doc:name="getUnitedFlights" doc:id="9cd12880-a358-4b5e-ad01-ed974520b6fb" name="getUnitedFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllFlights" doc:id="dce293d2-a1a5-439e-867b-459a0366368b" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="f91f7949-2628-40a3-a587-f92854196f98" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="17ea5873-0ede-4c49-8540-f00bad25f17a" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="Transform Message" doc:id="f9a96509-55de-4ba1-87a0-8e39928563ca" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flight to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpstatus_200" doc:id="2d556188-2e73-42ce-88a5-b2e04dcacdb2" variableName="httpstatus"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9eb2bc29-7d44-4b8e-8f29-ff0ed42c9882" type="VALIDATION:INVALID_BOOLEAN">
				<ee:transform doc:name="Transform Message" doc:id="269806be-4736-4083-b731-3eb31898e074" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="httpstatus_400" doc:id="d6002d7d-d6fe-4ce5-aa99-8a47f07eda4f" variableName="httpstatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getAllAirlineFlights" doc:id="e2c8aca3-3aff-4324-b61e-c9f0783f37ee" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="f2241ea0-3a63-4719-b729-a8697af04002" >
			<route>
				<try doc:name="Try" doc:id="4b87c66c-929e-49f9-a3b2-440380c702b6" >
					<flow-ref doc:name="getAmericanFlights" doc:id="eb761397-5d76-4f2f-b5ae-0803373a42ac" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4af0db4f-ce90-40e4-b17e-0892e41296f6" >
							<ee:transform doc:name="[]" doc:id="dbd751ab-ee18-4799-928c-5ff6e690b9ab" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route>
				<try doc:name="Try" doc:id="af9f4888-0649-4195-b83a-37167bbbb01c" >
					<flow-ref doc:name="getDeltaFlights" doc:id="05e19f6d-c50e-4749-a99b-27d9fab22d48" name="GetDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a81e6c8b-3410-4346-a314-3a5b83a6e688" >
							<ee:transform doc:name="[]" doc:id="1525274a-1f50-493b-a956-e8566a61a370" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route>
				<try doc:name="Try" doc:id="a5004473-5c01-431a-a45d-5cd0f088f57f" >
					<flow-ref doc:name="getUnitedFlights" doc:id="9885d400-eeff-4075-a102-9ca2ec28bffb" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bc0e882a-4537-4cc7-900c-9d90aa352890" >
							<ee:transform doc:name="[]" doc:id="eb251329-2dc3-49df-8060-2c56d7e650c8" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="00d56fd5-d9da-4357-b7c4-f41981f0efb1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5548c08d-bbef-4fe8-ad81-337209ddd8ae" />
	</flow>
	<flow name="getAmericanFlights" doc:id="7f2de9c8-eda9-4673-9d8d-2f3568d48e04" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="f6a0e85e-fbeb-4897-ab6d-7b73121acda8" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="american to Flight[]" doc:id="53982423-d338-4f79-af83-25beca8c0c76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: 'American',
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="implementationFlow" doc:id="ea23cba5-8568-4da1-a86e-a94dbffb4918" >
		<validation:is-empty-collection doc:name="Is empty collection" doc:id="fa521604-5324-4f0f-9c18-a3cd7725a01c" />
	</flow>
	<flow name="getUnitedFlights" doc:id="66aa52c1-f304-4c35-ac88-537190129aeb" >
		<http:request method="GET" doc:name="Get flights" doc:id="f2dbb30c-13b9-49d3-bed0-eabb7c8f7385" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="united to Flight[]" doc:id="b35b0dfa-15b3-43cf-a3b2-95243cac57ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetDeltaFlights" doc:id="0f0b9360-19b5-426b-a7cd-fac65b1eed8b" >
		<ee:transform doc:name="pass code" doc:id="0c62ac56-07b3-458c-aa25-21e092f009e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="06d66095-14cd-48b6-bd49-a6225f159cdc" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="delta to Flight[]" doc:id="d72796b4-67a8-449d-a927-126e11368d93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
