using-file-module/src/main/mule/delete-file-after-use.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="delete-file-after-useFlow" doc:id="19933c06-128a-4cc3-8327-736391785ced" >
		<file:listener doc:name="On New or Updated File" doc:id="80b5e4d9-99e5-4311-abce-764cde3a470c" config-ref="File_Config" directory="input" recursive="false">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a403812c-7b72-4782-a0e7-45ad71357f58" message="#[payload]"/>
	</flow>
</mule>
