using-file-module/src/main/mule/move-file-after-use.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="move-file-after-useFlow" doc:id="5072ba37-c32c-4179-b429-848b374b873b" >
		<file:listener doc:name="On New or Updated File" doc:id="7e51dff2-6995-4e8f-85cb-4d8bc89bb23f" config-ref="File_Config" directory="input" moveToDirectory="moved" renameTo="#[attributes.fileName ++ '.backup']">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="bf6c3f18-acdf-4a29-9e39-eb335c322f8e" message="#[payload]"/>
	</flow>
</mule>
