using-file-module/src/main/mule/transform-csv-data.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transform-csv-dataFlow" doc:id="9c42dd79-f2d6-4614-ac93-46082138595f" >
		<file:listener doc:name="On New or Updated File" doc:id="fe451b8d-8da9-45e7-93d0-39db015bb157" config-ref="File_Config" directory="input" watermarkMode="MODIFIED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="13490b16-e223-4ef2-8165-d3e5e5f6a455" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="4915f3e6-2507-48b8-8591-eb3c2d1ed292" >
			<logger level="INFO" doc:name="Logger" doc:id="c9a35d29-b7c6-4e5a-94de-faf64e90f436" message="#[payload]" />
		</foreach>
	</flow>
</mule>
