.tooling/apdev-examples9f2eae06-15a5-47ac-b9a2-50610f179b7c/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd6d794b-5b70-480e-9b64-b137633e6558" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="efc95bda-1c77-45f7-ba96-8bffad3eaa4d" >
		<http:listener doc:name="GET /hello" doc:id="b99aa196-3a2b-47ce-8690-696d57fbc07f" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : "Max"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="Hello World" doc:name="Hello" doc:id="e46fad84-d0c2-47e1-9d73-0906e82774b3" />
		<logger level="INFO" doc:name="Logger" doc:id="6dbe603f-924f-4e08-a9bb-9e22181975c0" message="#[attributes]"/>
	</flow>
</mule>
