dataweave_samples/src/main/mule/convertToXML.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="convertToXMLFlow" doc:id="64a40931-d285-4c06-abd9-57edb54629d7" >
		<ee:transform doc:name="Transform Message" doc:id="79a6bdfc-8912-458f-9a8d-df66b93b956e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	flights:
	{
		airline:payload.airline,
		destination:payload.toAirportCode,
		source:payload.fromAirportCode
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
